/* http://www.alistapart.com/articles/accessibledatavisualization */
/* SETUP */
 /*   * { 
      margin: 0; 
      padding: 0; 
      list-style-type: none;
    }
    body { 
      font-family: Helvetica, Arial, sans-serif; 
      color: #333; 
    }
    a { 
      color: #2C6877;
      text-decoration: none; 
      font-weight: bold; 
    }


   */ 
/* TIMELINE CHARTS */
.timeline a {
  color: #2C6877;
  text-decoration: none; 
  font-weight: bold; 
}
.timeline a:hover { 

  color: #333; 
}
.section { 
  float: left;
  clear: left;
  padding: 1em 2em;
}
.timeline { 
  font-size: 0.9em; 
  height: 10em; 
  width: 53em;
}
.timeline li { 
  position: relative;
  float: left;
  width: 1.5em; 
  margin: 0 0.1em;
  height: 8em; 
  padding: 0.75em;
  list-style-type: none;
}
.timeline li a { 
  display: block;
  height: 100%;  
}
/*
.timeline li .label { 
  display: block; 
  position: absolute; 
  bottom: -2em; 
  left: 0; 
  background: transparent; 
  color: #333;
  width: 100%; 
  height: 2em; 
  line-height: 4em; 
  text-align: center;
  white-space: none;
} */
.timeline li .label {
display: block;
position: absolute;
bottom: -2.5em;
left: 0;
background: transparent;
color: #333;
width: 50%;
height: 2em;
text-align: center;
white-space: none;
}
.timeline li a .count { 
  display: block; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  height: 0; 
  width: 100%; 
  background: #0188D0; 
  text-indent: -9999px; 
  overflow: hidden; 
}
.timeline li:hover { 
  background: #EFEFEF; 
}
.timeline li a:hover .count { 
  background: #2D7BB2; 
}
